---
import Layout from "../layouts/Layout.astro";
import { getImage } from "astro:assets";
import "@/styles/globals.css";
import srcImage from "../assets/neon.jpg";

const optimizedBackground = await getImage({ src: srcImage, format: "webp" });
---

<Layout title="Sign in">
  <section class="text-white flex items-center justify-center h-screen">
    <section id="signin" style={`background-image: url(${optimizedBackground.src}); background-size: cover; background-position: center; background-repeat: no-repeat;`} class="flex flex-col items-center w-full border border-white">
      <p class="text-lg font-bold my-6"><span class="text-white">M</span><span class="text-secondary">rC</span></p>
      <h1 class="text-xl font-medium">Sign in</h1>
      <p>New here? <a href="/register">Create an account</a></p>
      <form id="signin-form">
        <section>
          <label for="email">Email</label>
          <input type="email" name="email" id="email" />
        </section>
        <section>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" />
        </section>
        <section>
          <button type="submit">Sign in</button>
        </section>
      </form>
      <button id="google">Sign in with Google</button>
      <button id="anonymous">Anonymous</button>
      <p id="error-message" style="color: red;"></p>
    </section>
  </section>
</Layout>

<script>
  import { getAuth, inMemoryPersistence, signInWithEmailAndPassword, GoogleAuthProvider, signInWithPopup, signInAnonymously } from "firebase/auth";
  import { app } from "../firebase/client";

  const auth = getAuth(app);
  auth.setPersistence(inMemoryPersistence);

  const form = document.querySelector("#signin-form") as HTMLFormElement;
  const errorMessage = document.querySelector("#error-message") as HTMLParagraphElement;

  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    errorMessage.textContent = "";

    const formData = new FormData(form);
    const email = formData.get("email")?.toString();
    const password = formData.get("password")?.toString();

    if (!email || !password) {
      errorMessage.textContent = "Please enter both email and password.";
      return;
    }

    try {
      const userCredential = await signInWithEmailAndPassword(auth, email, password);
      const idToken = await userCredential.user.getIdToken();
      const response = await fetch("/api/auth/signin", {
        method: "POST",
        headers: {
          Authorization: `Bearer ${idToken}`,
        },
      });

      if (response.ok) {
        window.location.href = "/home";
      } else {
        const errorData = await response.json();
        throw new Error(errorData.error || "An error occurred during sign in.");
      }
    } catch (error) {
      console.error("Error signing in:", error);
      errorMessage.textContent = error.message || "An error occurred during sign in.";
    }
  });

  const googleSignin = document.querySelector("#google") as HTMLButtonElement;
  googleSignin.addEventListener("click", async () => {
    try {
      const provider = new GoogleAuthProvider();
      const userCredential = await signInWithPopup(auth, provider);
      const idToken = await userCredential.user.getIdToken();
      const res = await fetch("/api/auth/signin", {
        method: "POST",
        headers: {
          Authorization: `Bearer ${idToken}`,
        },
      });

      if (res.ok) {
        window.location.href = "/home";
      } else {
        const errorData = await res.json();
        throw new Error(errorData.error || "An error occurred during sign in.");
      }
    } catch (error) {
      console.error("Error signing in:", error);
      errorMessage.textContent = error.message || "An error occurred during sign in.";
    }
  });

  const anonymousSignIn = document.querySelector("#anonymous") as HTMLButtonElement;
  anonymousSignIn.addEventListener("click", async () => {
    try {
      const userCredential = await signInAnonymously(auth);
      const user = userCredential.user;
      const idToken = await user.getIdToken();
      const res = await fetch("/api/auth/signin", {
        method: "POST",
        headers: {
          Authorization: `Bearer ${idToken}`,
        },
      });

      if (res.ok) {
        window.location.href = "/home";
      } else {
        const errorData = await res.json();
        throw new Error(errorData.error || "An error occurred during guest login.");
      }
    } catch (error) {
      console.error("Error during guest login:", error);
      errorMessage.textContent = error.message || "An error occurred during guest login.";
    }
  });
</script>
