---
import "@/styles/globals.css";
import { getImage } from "astro:assets";
import srcImage from "../assets/programming.jpg";
import ContactButton from "@/components/fragments/contact-button";

const optimizedBackground = await getImage({ src: srcImage, format: "webp" });
console.log(optimizedBackground);
---

<section id="home" style={`background-image: url(${optimizedBackground.src}); background-size: cover; background-position: center; background-repeat: no-repeat;`} class="relative w-full min-h-[50.625rem] flex justify-center items-center">
  <div class="absolute inset-0 bg-black opacity-50"></div>

  <section class="flex flex-col gap-y-[3.688rem] z-10">
    <section class="relative text-white font-bold text-[4rem] w-[48.813rem]">
      <p class="text-center leading-tight">Professional Website for Your Business</p>
    </section>
    <section class="relative text-white font-medium text-lg flex justify-center items-center">
      <p>Ready to buy? Contact now.</p>
    </section>
    <section class="flex justify-center">
      <ContactButton />
    </section>
  </section>
</section>
