---

---

<section class="bg-primary w-full">
  <section class="pt-[7.938rem] flex flex-col items-center gap-y-3">
    <h1 id="portfolio" class="text-secondary text-5xl font-bold">Portfolio</h1>
    <p class="text-passive text-lg">Here are my latest projects</p>
  </section>
  <p class="text-secondary font-bold text-[2rem] mt-[3.563rem] ml-64">Website</p>
</section>
